# SPDX-FileCopyrightText: Copyright 2025 Carabiner Systems, Inc
# SPDX-License-Identifier: Apache-2.0

name: release

on:
  push:
    tags:
      - 'v*'
permissions:
  contents: read
  
jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write     # To create the release
      id-token: write     # To sign artifacts
      attestations: write # To push attestations
      
    steps:
      - name: Setup Docker
        uses: docker/setup-docker-action@b60f85385d03ac8acfca6d9996982511d8620a19 # v4.3.0

      - name: Setup bnd
        uses: carabiner-dev/actions/install/bnd@HEAD

      - name: Setup unpack
        uses: carabiner-dev/actions/install/unpack@HEAD

      - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # 0.4

      - uses: kubernetes-sigs/release-actions/setup-tejolote@a30d93cf2aa029e1e4c8a6c79f766aebf429fddb # v0.3.1

      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 1

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache: false

      - id: att-repo
        name: Create Attestation Directory
        run: mkdir .attestations

      - name: Verify Build Point Commit to be SLSA Source Level 3+
        uses: carabiner-dev/actions/ampel/verify@HEAD
        with:
          subject: "sha1:${{ github.sha }}"
          policy: "git+https://github.com/carabiner-dev/policies#vsa/slsa-source-level1.json"
          collector: "note:https://github.com/${{ github.repository }}@${{ github.sha }}"
          signer: "sigstore::https://token.actions.githubusercontent.com::https://github.com/slsa-framework/source-actions/.github/workflows/compute_slsa_source.yml@refs/heads/main"
          attestation: false

      - name: Export source attestations
        id: export-source-attestations
        run: |
          bnd read note:${{ github.repository }}@${{ github.sha }} --jsonl >> .attestations/bundle.jsonl

      - name: Generate SBOM
        run: |
          mkdir attestations
          unpack extract . --ignore-other-codebases -f spdx --attest > attestations/spdx.intoto.json

      - name: Attest Test Results
        uses: carabiner-dev/actions/beaker/tests@HEAD
        with:
          output: .attestations/tests.intoto.json
          sign: true

      - name: Read builder digest
        id: digests
        run:
          echo "builder=$(crane digest cgr.dev/chainguard/go)" >> "$GITHUB_OUTPUT"

      - name: Verify Builder Image
        uses: carabiner-dev/actions/ampel/verify@HEAD
        with:
          # The verification subjest: The image digest
          subject: "${{ steps.digests.outputs.builder }}"
          # Use the modified policy set
          policy: "policies/verify-builder-image-slsa3.set.json"
          # Collect builder attestations attached to the image
          collector: "coci:cgr.dev/chainguard/go"
          # We don't specify the signer here, it's baked in the policy
          # signer: "sigstore::https://token.actions.githubusercontent.com::https://github.com/slsa-framework/source-actions/.github/workflows/compute_slsa_source.yml@refs/heads/main"
          attestation: false

      - name: Set tag output
        id: tag
        run: echo "tag_name=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"
  
      ## Run the build
      - name: Build the Project
        id: build
        run: |
          ./build.sh

      - name: Generate Provenance
        id: tejolote
        env:
          GH_TOKEN: ${{ github.token }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            tejolote attest github://${{github.repository}}/"${GITHUB_RUN_ID}" \
              --artifacts github://${{github.repository}}/${{ steps.tag.outputs.tag_name }} \
              --output ./attestations/provenance.json
              --vcs-url=cgr.dev/chainguard/go@${{ steps.digests.outputs.builder }}
            bnd statement attestations/provenance.json -o attestations/bnd-${{ steps.tag.outputs.tag_name }}.provenance.json
            bnd pack attestations/ > attestations.jsonl
            gh release upload ${{ steps.tag.outputs.tag_name }} attestations.jsonl
            gh release upload ${{ steps.tag.outputs.tag_name }} attestations/${{ github.event.repository.name }}-${{ steps.tag.outputs.TAG }}.spdx.json
            bnd push github ${{github.repository}} attestations/bnd-${{ steps.tag.outputs.tag_name }}.provenance.json

